# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/" # Location of package manifests https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#directory
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "docker" # Keep Docker dependencies up to date
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      dev-dependencies:
        patterns:
          - "*"
