.*.sw?
bin
.bin
pkg
src/github.com/mailgun
default.etcd
oauth/client.json
oauth/user.json
.idea
*.iml
*.xcf
example.eskip
Godeps/_workspace
packaging/skipper
packaging/eskip
packaging/build
.coverprofile
.coverprofile-all
vendor
linter.log
site/
plugins/
_test_plugins/*.so
_test_plugins_fail/*.so
opentracingplugin/build
build/
skptesting/lorem.html
