site_name: Skipper
pages:
    - Architecture: index.md
    - Deployments: deployments.md
    - Data Clients:
        - Eskip: dataclients/eskip-file.md
        - Etcd: dataclients/etcd.md
        - Inkeeper API: dataclients/inkeeper-api.md
        - Kubernetes: dataclients/kubernetes.md
        - Route String: dataclients/route-string.md
    - Kubernetes:
        - Ingress Controller Deployment: kubernetes/ingress-controller.md
        - Ingress Usage: kubernetes/ingress-usage.md
    - Plugins: plugins.md
    - Scripts: scripts.md
    - Operations: operations.md
    - Videos: videos.md
