name: docs-ci

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - 'docs/**'

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.x
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs mkdocs-material markdown-include
      - run: mkdocs gh-deploy --force
