name: docs-ci

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - 'docs/**'

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
        with:
          python-version: 3.x
      - uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs mkdocs-material markdown-include
      - run: mkdocs gh-deploy --force
