name: master
on:
  push:
    branches:
      - master
permissions: {}
env:
  TESTCONTAINERS_RYUK_DISABLED: true
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-go@v5 # Use the latest major version tag (e.g., v5)
        with:
          go-version: 'stable'
      - run: go version
      - run: make deps
      - run: make check-fmt
      - run: make vet
      - run: make staticcheck
      - run: make check-race
      - run: make osv-scanner
      - run: make govulncheck
      - run: make capslock
      - run: make coverprofile
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@e4612787670fc5b5f49026b8c29c5569921de1db
      - name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
  alert-on-failure:
    runs-on: ubuntu-latest
    needs: [tests]
    if: ${{ failure() }}
    steps:
    - id: failed-name
      env:
        GH_TOKEN: ${{ github.token }}
      run: echo NAME=$(gh api /repos/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID/jobs | jq -r '.jobs[0].steps[]|select(.conclusion == "failure")|.name') >> "$GITHUB_OUTPUT"
    - id: job-id
      env:
        GH_TOKEN: ${{ github.token }}
      run: echo ID=$(gh api /repos/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID/jobs | jq -r '.jobs[0].id') >> "$GITHUB_OUTPUT"
    - run: >-
        curl
        -H 'content-type:application/json'
        "${{ secrets.INTERNAL_CHAT_WEBHOOK }}"
        -d "{
          \"cardsV2\": [
            {
              \"cardId\": \"skipper-failing-pipeline\",
              \"card\": {
                \"header\": {
                  \"title\": \"Build Failed\",
                  \"imageUrl\": \"https://raw.githubusercontent.com/zalando/skipper/master/img/skipper-h180.png\",
                  \"imageType\": \"CIRCLE\"
                },
                \"sections\": [
                  {
                    \"header\": \"Failed Step: ${{ steps.failed-name.outputs.NAME }}\",
                    \"collapsible\": false,
                    \"widgets\": [
                      {
                        \"buttonList\": {
                          \"buttons\": [
                            {
                              \"text\": \"View Build Logs\",
                              \"onClick\": {
                                \"openLink\": {
                                  \"url\": \"$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID/job/${{ steps.job-id.outputs.ID}}\"
                                }
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                ]
              }
            }
          ]
          }"
