name: master
on:
  push:
    branches:
      - master
permissions: {}
env:
  TESTCONTAINERS_RYUK_DISABLED: true
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: "^1.23"
          check-latest: true
      - run: go version
      - run: make deps
      - run: make check-fmt
      - run: make vet
      - run: make staticcheck
      - run: make check-race
      - run: make osv-scanner
      - run: make govulncheck
      - run: make capslock
      - run: make coverprofile
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@4e1989767862652e6ca8d3e2e61aabe6d43be28b
      - name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
