name: master
on:
  push:
    branches:
      - master
permissions: {}
env:
  TESTCONTAINERS_RYUK_DISABLED: true
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: "^1.21"
          check-latest: true
      - run: go version
      - run: make deps
      - run: make check-fmt
      - run: make vet
      - run: make staticcheck
      - run: make check-race
      - run: make osv-scanner
      - run: make govulncheck
      - run: make capslock
      - run: make coverprofile
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@c680c0f7c7442485f1749eb2a13e54a686e76eb5
      - name: Coveralls
        uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
