name: pr
on: [ pull_request ]
permissions:
  contents: read
env:
  TESTCONTAINERS_RYUK_DISABLED: true
jobs:
  semgrep:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      # Retrieve the source code for the repository
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      # Fetch the semgrep rules
      - run: git clone https://github.com/dgryski/semgrep-go.git
      # Run the rule checker using the fetched rules
      - run: semgrep ci -f semgrep-go

  check-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: "^1.23"
          check-latest: true
      - run: go version
      - run: make deps
      - run: make check-race
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: "^1.23"
          check-latest: true
      - run: go version
      - run: make deps
      - run: |
          : Check format
          make fmt
          git diff --exit-code
      - run: make vet
      - run: make staticcheck
      - run: make shortcheck
