name: pr
on: [ pull_request ]
permissions:
  contents: read
jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/golang@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_VULN_SCANNER_TOKEN }}  
  gokart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: '^1.19'
      - run: go install github.com/praetorian-inc/gokart@latest
      - run: gokart scan -s -o gokart-scan-output.sarif
      # Upload the results to the code scanning security tab
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: gokart-scan-output.sarif
  semgrep:
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      # Retrieve the source code for the repository
      - uses: actions/checkout@v3
      # Fetch the semgrep rules
      - run: git clone https://github.com/dgryski/semgrep-go.git
      # Run the rule checker using the fetched rules
      - run: semgrep ci -f semgrep-go

  check-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: '^1.19'
      - run: go version
      - run: make deps
      - run: make check-race
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          # https://www.npmjs.com/package/semver#caret-ranges-123-025-004
          go-version: '^1.19'
      - run: go version
      - run: make deps
      - run: make check-fmt
      - run: make vet
      - run: make staticcheck
      - run: make cicheck
