{{ if .Values.install_kube_aws_iam_controller }}
{{ if .Values.vpa }}
apiVersion: autoscaling.k8s.io/v1beta2
kind: VerticalPodAutoscaler
metadata:
  name: kube-aws-iam-controller
  namespace: kube-system
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: kube-aws-iam-controller
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: kube-aws-iam-controller
      maxAllowed:
        memory: {{.ConfigItems.kube_aws_iam_controller_mem_max}}
{{ end }}
{{ end }}
